.product{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    margin: 10px;
    padding: 15px;
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 0.15 ease-in;

}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product_price{
    margin-top: 5px;
}
.product_info{
    height: 100px;
    margin-bottom: 15px;
    color: black;
}
.product_info h2{
   
}
.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
}
.product_rating{
    display: flex;
}
.product:hover{
    transform: scale(1.05);
}
